 body{
   
    background-color: rgb(247, 158, 85);
    background-image: url(wall.jpg);
    /*background-image: linear-gradient(to right,rgba(255, 255, 0, 0.719),rgba(0, 0, 255, 0.486)),
    url(wall.jpg);*/
   background-repeat: no-repeat;
  background-position: center center;
   background-blend-mode: multiply;
    background-size:cover;
    /*background-clip:content-box ;*/
   background-attachment: fixed;
}

div{
    width: 600px;
    height: 300px;
    color: rgb(233, 247, 42);
    background-color: #0000003a;
    padding: 70px;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
    text-align: center;
   font-size: 20px;

}